body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#chobi{
    background: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 14cm;   
}
.need{
    font-size: 45px;
    text-align: center;
    color: white;
}
.sada{
    color="white"
}
.sada{
    color: white;
    text-align: center;
}
.text-button{
    text-decoration: none;
     background-image: linear-gradient(orange,tomato);
     padding: 10px 40px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
     display: inline-block;
}
.middle{
    margin: 70px auto 0;
    text-align: center;
}
.taka{
    text-align: center;
    margin-bottom: 800px;
}
.taka h1{
    font-size: 35px;
}
.tk{
    padding: 25px 15px;
    border-radius: 5px;
    font-weight: 1000;
    margin-top: 20px;
    color: rgba(103, 101, 101, 0.893);
    background-image: linear-gradient(rgba(244, 241, 241, 0.855),rgba(254, 248, 248, 0.846));
    border: 2px none;
    
}
.padding{
    margin-top: 90px;
}
#tok{
    color: rgb(255, 120, 142);
    border: 1px solid rgb(249, 143, 161);
    background-color: pink;
}
.ab{
    text-align: center;
    
}
.line{
    width: 400px;
    height: 1px;
    background: rgb(207, 204, 204);
    margin: 30px auto;
    border-radius: 5px;
    margin-bottom: 30px;
}
.header-content{
    font-size: 15px;
    text-align: center;
    color: rgb(214, 209, 209);
}
.plan{
    margin-top: 135px;
    text-align: center;
}
.togather{
    margin-top: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.flax{
    background-color: rgb(203, 239, 248);
    text-align: center;
    border-radius: 0%;
    margin: 15px 550px;
}
.flax1{
    background-color: rgb(252, 213, 220);
    text-align: center;
    margin: 15px 550px;
}
.flax2{
    background-color: rgb(245, 232, 194);
    text-align: center;
    margin: 15px 550px;
}
.half-width img{
    width: 70%;
    padding-right: 25%;
}
.text-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}
.top-banner{
    width: 30%;
    margin: 10px 80px 50px 100px;
}
.jog{
    display: flex;
    margin-top: 80px;
}
.jog1{
    display: flex;
    width: 30%;
    margin: 10px 80px 50px 100px;
    margin-top: 80px;
}
.grm{
    text-align: center;
    margin-top: 80px;
}
input[type="email"]
{
    background-image: linear-gradient(rgb(205, 195, 195),rgb(220, 200, 200));
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 3px 0 0 3px;
}
input[type="button"]
{
    position: relative;
    left: -5px;
    border-radius: 0 3px 3px 0;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(orange,tomato);
}
.in{
    margin-top: 80px;
    text-align: center;
    border: 50px solid pink;
    margin: 100px 504.5px 100px 501px;
}
.last{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color:rgb(235, 43, 43) ;
}
.coto{
    font-size: 8px;
    color: white;
    margin-bottom: 10px;
}
.finis{
    background-color: black;
    margin: auto;
}